/* 1. Используем border-box */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Убираем отступы и паддинги */
body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}

/* 3. Убираем списочные стили */
ul[role='list'], ol[role='list'] {
    list-style: none;
}

/* 4. Улучшаем плавность прокрутки */
html:focus-within {
    scroll-behavior: smooth;
}

/* 5. Установка базовых стилей body */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* 6. Удаляем стили ссылок без href */
a:not([href]) {
    text-decoration: none;
    color: inherit;
}

/* 7. Упрощаем изображения */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    height: auto;
}

/* 8. Унаследование шрифтов */
input, button, textarea, select {
    font: inherit;
}

/* 9. Убираем анимации/переходы, если включены системные настройки */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

